<h1>Your order summary</h1>
{{> addons noDeleteBtn=true}}
<a class="btn btn-big" href="/order/thanks">
    <img src="/assets/images/koszyk.png" class="cart-img" alt="">
     Finish my order
     </a>
{{> cookie-preview}}
{{> go-home}}